@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #8c00ff 1.84%, #ff8000 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #8c00ff -13.86%, #ff8000 99.55%);
    
    --color-bg: #051923;
    --color-footer : #003554;
    --color-content: #006494;
    --color-info: #4EA1E4;
    --color-about: #394B56;
}
